

<div class="title">
	<h1>Clima para 4 ciudades</h1>
	</p>por Matías Salgado</p>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<% @cities.each do |city| %>
				<div class="col-md-6 border" >
					<%= react_component('CitiesForecast', {cityId: city.id, cityName: city.name, countryName: city.country}) %>
				</div>
	
			<% end %>
		</div>

	</div>
</div>

