// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	margin: 0;
	padding: 0;
}

.title{
	background: darkturquoise;
	text-align:center;
	padding: 20px 0px;
	letter-spacing: 1px;
	font-weight: 600;
}

.border{
	border-bottom: 1px solid #C5C0C0;
  border-right: 1px solid #c5c0c0;
  border-left: 1px solid #c5c0c0;
  border-top: 1px solid #c5c0c0;
  text-align: center; 
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.border-select{
	border-bottom: 1px solid #C5C0C0;
  border-right: 1px solid #c5c0c0;
  border-left: 1px solid #c5c0c0;
  border-top: 1px solid #c5c0c0;
  text-align: center; 
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitle{
	text-align:center;
	padding: 20px 0px;
	font-weight: 600;
	font-size: 20px;
}

.subtitle2{
	text-align:center;
	padding: 20px 0px;
	font-weight: 600;
	font-size: 30px;
}

.spacing{
	margin-top: 20px;
}